*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


nav, .nav-right, .nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(56, 30, 59);
}


nav, h3{
    color: white;

}
.nav-right{
    color: white;
    list-style-type: none;
    padding: 10px;
}

.nav-link{  
   padding: 15px;

}
.nav-link:hover{
    border-bottom: 2px solid white;
}

.c-item {
    height: 480px;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

nav img{
    height: 60px;
    padding-left: 35px;
    padding-right: 35px;

}

.grid{
    display: grid;
    width: 95%;
    margin: auto;
    margin-left: 10%;
    margin-top: 30px;
    grid-template-columns: 50% 50% 50%;
    gap: 40px;
}


.card{
    text-align: center;
    padding: 10px;
    background: rgb(245, 243, 246);
    height: 150px;
    box-shadow: 5px 5px 500px rgb(160, 156, 156);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(36, 4, 4);
}
.card h5{
    margin: 10px 0px;
    font-weight: bold;
}
.card span{
    font-size: 25px;
    cursor: pointer;
}
.card:hover{
    background: rgb(56, 30, 59);
    color: white;

}
.content1 button{
    margin-top: 12px;
    padding: 12px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 200px;
    font-weight: bold;
    color: rgb(2, 2, 46);
    cursor: pointer;
}

.content1 button:hover{
    outline: none;
    border: none;
    border-radius: 200px;
    font-weight: bold;
    color: white;
    background: rgb(56, 30, 59);
}
.section1{
  margin-top: 60px;
  color: rgb(2, 2, 46);
  font-weight: bold;
  text-align: center;
}

.material-symbols-outlined{
  color: brown;
  font-size: 20px;
}
.content1{
  margin-top: 40px;
  margin-left: 200px;
}

footer{
  margin-top: 200px;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: rgb(56, 30, 59);
  color: white;
  text-align: center;
  line-height: 10px;
}


























  
  body{
    font-family: 'Lato', sans-serif;  
  }
  
  .row{
    width: 100%;
  }
  
  .menu-title{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .container{
   position: relative;
   top:60px;
   margin: 15px; 
  }
  
  .item{
    position: relative;
    top: 0;
    background-color:#999999;
    margin: 15px;
    padding: 25px;

  }
  
  .item p{
    margin-top: 18px;
    text-align: justify;
    font-size:100%;
  }
  
  .item-title{
    position: absolute;
    top:0;
    right: 0px;
    background: green; 
    padding: 6px 90px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  
  #title-one {
    background-color: #D59898;
  } 
  
  #title-two{
    background-color: #C14543;
  }
  
  #title-three{
    background-color: #E5D198;
  }
  
  /* Simple Responsive Framework. */
  /*------ Desktop ------*/
  @media (min-width: 992px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;  
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  
  }
  
  
  /*------ Tablet ------*/
  @media (min-width: 768px) and (max-width: 991px){
    .col-lg-4 {
      width: 50%;
      float: left;
    }
    .col-lg-tablet{
     width: 100%;
     float: left;
   }
  }
  
  
  /*------ Mobile ------*/
  @media (max-width: 767px){
    .col-lg-4{
      width: 100%;
      float: left;
    }
  }